<!DOCTYPE html>
<!-- ORIGINAL POLYGOT INDEX.HTML -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Git Grub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Cisco">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; }
    </style>
    <script src='/socket.io/socket.io.js'></script> 
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js"
            data-dojo-config='async: true'></script>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    	<div class="navbar-inner">
    		<div class="container">
    			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<div class="nav-collapse collapse">
    				<ul class="nav">
    					<li class="active">
    					</li>
    					<li>
    					</li>
    					<li>
    					</li>
    				</ul>
    			</div>
    			<!--/.nav-collapse -->
    		</div>
    	</div>
    </div>
    <div class="container">
    	<!-- Main hero unit for a primary marketing message or call to action
    	-->
    	<!-- Example row of columns -->
    	<div class="hero-unit">
    		<font color="white">
    			<h1>
    				Git Grub @ Cisco
    			</h1>
    			<p>
    				Tired of waiting in line at lunch? Tired of wasting time to get food in
    				campus cafeterias?
    			</p>
    		</font>
    		<div>
    			<font color="white">
    				<br>
    			</font>
    			<div>
    				<font color="white">
    					WELL, wait no longer!! &nbsp;Order easy and efficiently with Git Grub
    				</font>
    			</div>
    		</div>
    		<p>
    		</p>
    		<div class="control-group">
    			<div class="controls">
    			</div>
    		</div>
    		<p>
    			<a href="/index-i" class="btn btn-primary btn-large" target="">Git Started »</a>
    		</p>
    	</div>
    	<hr>
    	<footer>
    		<p class="pull-right">
    			GitGrub@Cisco© Company 2013
    			<img src="https://s3.amazonaws.com/media.jetstrap.com/zinr9kwcT32MNQnWZneD_Cisco-new-logo-should-be.gif" width="100">
    		</p>
    	</footer>
    </div>
    <div class="control-group">
    	<div class="controls">
    	</div>
    </div>
    <div class="control-group">
        <div class="controls">
        </div>
    </div>
    <style>
      @media (min-width: 980px) {
        body {
          margin-top: 41px;
        }
        .hero-unit {
            
              background-color : "black";
        }
      }   
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="assets/js/bootstrap.js">
    </script>
  </body>
</html>
